[submodule "deps/mujoco_mpc"]
	path = deps/mujoco_mpc
	url = https://github.com/A2R-Lab/mujoco_mpc.git
[submodule "deps/gym-quadruped"]
	path = deps/gym-quadruped
	url = https://github.com/RX-00/gym-quadruped.git
[submodule "deps/mpx"]
	path = deps/mpx
	url = https://github.com/RX-00/mpx.git
